body.active-modal {
  overflow-y: hidden;
}

.btn_modal {
  width: 96%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.btn_modal:hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
  transform: translateY(-3px);
  cursor: pointer;
}

.modal,
.overlay {
  width: 100vw;
  height: 120vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.close_button {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  font-size: 24px;
}

.modal_content {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 20px 35px;
  border-radius: 3px;
  max-width: 1000px;
  min-width: 500px;
  z-index: 2000;
  overflow-y: auto; /* This allows the content to scroll vertically */
  box-sizing: border-box; /* This includes padding and border in the width and height */
}

.modal_content h2 {
  font-size: 27px;
  font-family: "Merriweather";
}

/* PAGE CONTAINER */
.page_container {
  margin-left: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 2200px;
}

/* FORM */

.form_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.form {
  width: 1200px;
}

.name_container,
.logo_Company_container,
.email_container,
.type_container,
.password_container,
.country_container,
.vacancies_container,
.description_container,
.employes_container,
.jobs_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* labels */

.name,
.logo_Company,
.email,
.type,
.password,
.vacancies,
.country,
.description,
.employes,
.jobs,
.aboutme {
  width: 400px;
  height: 22px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.011em;
  color: #000000;
  margin-bottom: 3px;
}

/* FILA 1 y 3 */
.row1_container,
.row2_container,
.row3_container {
  display: flex;
}

.name_container,
.email_container,
.type_container,
.password_container,
.vacancies_container,
.country_container,
.description_container,
.employes_container,
.jobs_container,
.aboutme_container {
  flex: 1;
}

.input_name,
.input_logo_Company,
.input_type,
.input_password,
.input_vacancies,
.input_country,
.input_email,
.input_description,
.input_employes,
.input_jobs .textarea_aboutme {
  width: 90%;
  height: 50px;
  padding-left: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px 0.5px 4px 0.5px;
  font-size: 18px;
}

/* FILA 2 */
/* 
.textarea_description {
    height: 50px;
    padding-left: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px 0.5px 4px 0.5px;
    font-size: 19px;
    font-family: 'Roboto';
    font-style: normal;
} */

.error_span {
  color: rgb(201, 16, 16);
  margin-top: 10px;
  font-size: 17px;
}

/* BUTTON TO FORM */

.btn_toForm {
  width: 80%;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
  justify-content: left;
}

.btn_toForm:hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
  transform: translateY(-3px);
  cursor: pointer;
}

/* CONTAINERS */

.name_container,
.lastname_container,
.email_container,
.username_container,
.password_container,
.dateOfBirth_container,
.cv_container,
.country_container,
.progLanguages_container,
.degree_container,
.softSkills_container,
.languages_container,
.seniority_container,
.specialization_container,
.working_container,
.aboutme_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* labels */

.name,
.lastname,
.email,
.username,
.password,
.dateOfBirth,
.cv,
.country,
.progLanguages,
.degree,
.softSkills,
.languages,
.seniority,
.specialization,
.working {
  width: 250px;
  height: 22px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.011em;
  color: #000000;
  margin-bottom: 3px;
}

/* FILA 1 y 3 */
.row1_container,
.row2_container,
.row3_container,
.row4_container,
.row5_container,
.row6_container,
.row7_container {
  display: flex;
}

.name_container,
.lastname_container,
.username_container,
.password_container,
.dateOfBirth_container,
.cv_container,
.country_container,
.progLanguages_container,
.degree_container,
.softSkills_container,
.languages_container,
.seniority_container,
.specialization_container,
.working_container {
  flex: 1;
}

.input_name,
.input_lastname,
.input_username,
.input_password,
.input_dateOfBirth,
.input_cv,
.input_country,
.input_progLanguages,
.input_degree,
.input_softSkills,
.input_languages,
.input_seniority,
.input_specialization,
.input_working,
.textarea_aboutme {
  width: 90%;
  height: 50px;
  padding-left: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px 0.5px 4px 0.5px;
  font-size: 18px;
  font-size: 19px;
  font-family: "Roboto Regular";
  font-style: normal;
}

.input_progLanguages,
.input_languages,
.input_softSkills {
  height: 100%;
}

.textarea_aboutme {
  padding-top: 10px;
  height: 35px;
}

.error_span {
  color: rgb(201, 16, 16);
  margin-top: 10px;
  font-size: 17px;
}

.confirmation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation_p {
  font-size: 19px;
  font-weight: 600;
  color: green;
}

.confirmation_span {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .btn_modal {
    width: 80%;
    height: 45px;
    margin: 10px auto;
  }

  .modal_content {
    min-width: 300px;
    padding: 10px 20px;
    max-height: 75%;
    margin-top: 3em; /* This makes sure the modal doesn't take up more than 75% of the viewport height on smaller screens */
  }

  .page_container {
    margin-left: 20px;
  }

  .form_container {
    flex-direction: column;
    align-items: center;
  }

  .form {
    width: 90%;
  }

  .name_container,
  .logo_Company_container,
  .email_container,
  .type_container,
  .password_container,
  .country_container,
  .vacancies_container,
  .description_container,
  .employes_container,
  .jobs_container {
    width: 100%;
  }

  .row1_container,
  .row2_container,
  .row3_container {
    flex-direction: column;
  }

  .input_name,
  .input_logo_Company,
  .input_type,
  .input_password,
  .input_vacancies,
  .input_country,
  .input_email,
  .input_description,
  .input_employes,
  .input_jobs .textarea_aboutme {
    width: 100%;
  }

  .btn_toForm {
    width: 100%;
  }

  .name_container,
  .lastname_container,
  .email_container,
  .username_container,
  .password_container,
  .dateOfBirth_container,
  .cv_container,
  .country_container,
  .progLanguages_container,
  .degree_container,
  .softSkills_container,
  .languages_container,
  .seniority_container,
  .specialization_container,
  .working_container,
  .aboutme_container {
    width: 100%;
  }

  .row4_container,
  .row5_container,
  .row6_container,
  .row7_container {
    flex-direction: column;
  }

  .input_name,
  .input_lastname,
  .input_username,
  .input_password,
  .input_dateOfBirth,
  .input_cv,
  .input_country,
  .input_progLanguages,
  .input_degree,
  .input_softSkills,
  .input_languages,
  .input_seniority,
  .input_specialization,
  .input_working,
  .textarea_aboutme {
    width: 100%;
  }
}
