.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1850px;
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 80%;
  margin-top: 30px;
}

.title {
  font-size: 40px;
  font-family: "Merriweather";
}

.p {
  font-size: 19px;
}

.button {
  width: 100%;
}

.content_container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin-top: 60px;
}

.modifyInfo_container,
.fileUploader_container {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.modal_content h2 {
  font-family: "Merriweather";
  font-size: 23px;
}

.modal_content p {
  font-family: "Roboto Regular";
}

.close_button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}

.button {
  width: 96%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.button:hover {
  background: none;
  border: solid;
  border-color: #b682d9;
  color: #b682d9;
  transform: translateY(-3px);
  cursor: pointer;
}

.deactivateContainer {
  margin: 50px 0;
  width: 80%;
}

.deactivateTitle {
  padding-top: 20px;
  font-size: 35px;
  font-family: "Merriweather";
}

.deactivateButton {
  width: 40%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.deactivateButton:hover {
  background: none;
  border: solid;
  border-color: #b682d9;
  color: #b682d9;
  transform: translateY(-3px);
  cursor: pointer;
}

/* MODAL */

body.active-modal {
  overflow-y: hidden;
}

.btn_modal {
  width: 96%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.btn_modal:hover,
.btn_modal1:hover,
.btn_modal2:hover {
  background: none;
  border: solid;
  border-color: #b682d9;
  color: #b682d9;
  transform: translateY(-3px);
  cursor: pointer;
}

/* BOTON MODAL1 */
.btn_modal1 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

/* BOTON MODAL2 */
.btn_modal2 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 20px 35px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 2000;
}

@media (max-width: 600px) {
  .page_container {
    width: 100%;
    padding: 0 15px;
  }

  .title_container {
    width: 100%;
    padding: 0 15px;
  }

  .content_container {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    padding: 0 15px;
  }
  .fileUploader_container {
    margin-left: -4em;
  }
  .modifyInfo_container,
  .fileUploader_container {
    width: 100%;
    padding: 0 15px;
  }

  .deactivateContainer {
    width: 100%;
    padding: 0 15px;
  }

  .deactivateButton {
    width: 89%;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn_modal,
  .btn_modal1,
  .btn_modal2 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .modal_content h2 {
    font-size: 20px;
  }

  .modal_content p {
    font-size: 16px;
  }

  .title {
    font-size: 30px;
  }

  .p {
    font-size: 16px;
  }
}
