.LogInContainer {
  margin-left: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 120px;
}

.InputsLogIn {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin: 0;
}
.TitleLogIn {
  display: flex;
  flex-direction: column;
}
.subtitle {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin: 0;
}

.labelInput {
  font-family: "Roboto";
  font-style: black;
  font-size: 16px;
}
.input {
  width: 440px;
  height: 53px;
  left: 122px;
  top: 212px;
  background-color: #efefef;
  border-style: solid;
  border-width: 0.5px 0.5px 4px 0.5px;
  border-color: black;
  box-sizing: border-box;
}

.inPutsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.ButtonSignIn {
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 440px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.ButtonB {
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 440px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.line {
  flex-grow: 1;
  border-top: 6px solid #262626;
  margin-top: 5px;
}

.Separator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Separator span {
  margin: 0 10px;
}

.or {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 139%;

  letter-spacing: -0.011em;
}

.ButtonAuthenticationOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.ButtonAuth {
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 126px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.imagenContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.Vector {
  width: 530px;
  color: transparent;
  height: 521px;
}
