.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #6850bf;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: row;
  flex-direction: column;
  top: 0;
  z-index: 9999; /* Use a high value to ensure the navbar is on top of other elements */
}

.MenuContainer {
  margin-top: -10rem;
}
.IconsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.NavbarCompanies {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #b682d9;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: row;
  flex-direction: column;
}

.logOutButton {
  background: none;
  border: none;
  margin: none;
  padding: none;
}

.Icons {
  transition: transform 0.15s ease-in-out;
}

.Icons:hover {
  transform: scale(1.35);
}

.darkMode{
  margin-top: auto;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .Navbar,
  .NavbarCompanies {
    flex-direction: row;
    height: 70px;
    width: 100%;
    position: sticky;
  }

  .MenuContainer {
    margin-top: 0;
  }

  .IconsContainer {
    flex-direction: row;
    gap: 3rem;
  }
}
