.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #6850bf;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: row;
  flex-direction: column;
}

.isOpen {
  width: 203px;
}

.Navbar div a {
  display: flex;
  align-items: center;
}

.IconsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.NavbarCompanies {
  background-color: #b682d9;
}

