@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.ContainerDetail {
  display: flex;
    flex-direction: column;
    padding: 0 4rem;
    border: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 9px;
    width: 520px;
    height: 560px;
    border-color: #b682d9;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Cambiar color de la barra de desplazamiento */
.ContainerDetail::-webkit-scrollbar {
  width: 20px;
  /* Ancho de la barra de desplazamiento */
}

/* Cambiar color del pulgador (thumb) */
.ContainerDetail::-webkit-scrollbar-thumb {
  background-color: #d9d9da;
}


.InfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 520px;
}

.botonera {
  display: flex;
  flex-direction: row;
justify-content: left;
gap: 20px;
padding: 2rem 0;
  width: 500px;
}

.buttonConnect {
  background-color: #b682d9;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.buttonDownload {
  background-color: #b682d9;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.buttonLike {
  background-color: #6850bf;
  border-style: none;
  width: 40%;
  height: 59px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.specializationContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 25px;
}

.country{
  border: 3px solid #6850bf;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: -0.011em;
  color: #000000;

}

.subtitleProgramming {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
}

.UserNameCompanyContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  font-family: "Merriweather";
  width: 520px;
  margin-top: 30px;
}

.username_name{
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 2.3em;
  color: #000000;
  text-align: left;
  margin: 5px 0;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;

}

.aboutme {
    width: 520px;
    text-align: justify;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    
}

.listados {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 60px;
  margin: 40px 0;
}

.programming_container{
  display: flex;
  flex-direction: column;
  
}

.span_programming, .span_softskills{
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: -0.011em;
    color: #6850bf;
  }
  
  .ul_softskills, .ul_programming{
    text-align: left;
  padding: 0 0 0 10px;
  width: 80px;
}

.modal_content h2 {
  font-family: "Merriweather";
  font-size: 23px;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}



.modal_content p {
  font-family: "Roboto Regular";
}

body.active-modal {
  overflow-y: hidden;
}

.btn_modal {
  width: 96%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.btn_modal:hover,
.btn_modal1:hover,
.btn_modal2:hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
  transform: translateY(-3px);
  cursor: pointer;
}

/* BOTON MODAL1 */
.btn_modal1 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}


/* BOTON MODAL2 */
.btn_modal2 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}


.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 20px 35px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 2000;
}

@media screen and (max-width: 600px) {
  .ContainerDetail{
    height: auto;
  }

  .aboutme{
    width: 85%;
  }

  .listados{
    width: 95%;
    gap: 20px
  }

  .buttonContainer{
    width: 85%;
  }

  .buttonConnect, .buttonDownload{
    padding: 15px 15px;
    margin-bottom: 30px;
  }

  .ul_programming, .ul_softskills{
    width: auto;
  }

   .ul_programming li, .ul_softskills li {
      font-size: 14px;
      max-width: 120px;
      word-wrap: break-word;
    }
}