.forajido {
  display: flex;
}

.contains{
  margin-left: 120px;
  margin-top: 20px;
}

.containerAll {
  display: flex;
  flex-direction: row;
  margin-left: 20rem;
  margin-top: 1em;
}

.scrollableList {
  max-height: 564px; /* Altura ajustada para que sea igual a la altura de 5 tarjetas */
  overflow-y: auto;
  display: flex;
}

.list {
  flex: 1;
  color: gray;
  text-shadow: white;
  padding-left: 10px;
}
