.Navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #6850bf;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  flex-direction: row;
  flex-direction: column;
}

.MenuContainer {
  margin-top: -10rem;
}
.IconsContainer {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
