/* title */

.title{
    position: absolute;
    width: 403px;
    height: 42px;
    left: calc(50% - 403px/2 - 256.5px);
    top: 52px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 139%;
    /* identical to box height, or 42px */
    letter-spacing: -0.011em;
    color: #000000;
}

/* subtitle */

.subtitle{
    position: absolute;
    width: 614px;
    height: 25px;
    left: calc(50% - 614px/2 - 151px);
    top: 102px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    /* identical to box height, or 25px */
    text-align: justify;
    letter-spacing: -0.011em;
    color: #000000;
}

/* boton-linkedin */

.boton-linkedin{
    position: absolute;
    width: 270px;
    height: 53px;
    left: 583px;
    top: 173px;
}



/* linkedin-texto */

.linkedin-texto{
    position: absolute;
    width: 153px;
    height: 22px;
    left: 619px;
    top: 189px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #FFFFFF;
}



/* linkedin-logo */

.linkedin-logo{
    position: absolute;
    left: 54.86%;
    right: 43.32%;
    top: 19.44%;
    bottom: 77.98%;
    
    background: #FFFFFF;
}


/* boton-google */

.boton-google{
    position: absolute;
    width: 270px;
    height: 53px;
    left: 262px;
    top: 173px;
}



/* google-texto */

.google-texto{
    position: absolute;
    width: 142px;
    height: 22px;
    left: 301px;
    top: 189px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #FFFFFF;
}



/* google-logo */

.google-logo{
    position: absolute;
    left: 32.5%;
    right: 65.8%;
    top: 19.54%;
    bottom: 77.85%;
    
    background: #FFFFFF;
}


/* boton-github */

.boton-github{
    position: absolute;
    width: 270px;
    height: 53px;
    left: 904px;
    top: 173px;
}



/* github-texto */

.github-texto{
    position: absolute;
    width: 141px;
    height: 22px;
    left: 941px;
    top: 189px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #FFFFFF;
}



/* github-logo */


.github-logo{
    position: absolute;
    left: 77.29%;
    right: 20.97%;
    top: 19.44%;
    bottom: 78.02%;
    
    background: #FFFFFF;
}

/* divider */

.divider{
    position: absolute;
    width: 913px;
    height: 22px;
    left: 264px;
    top: 257px;
}

/* rect-username */

.rect_username{
    box-sizing: border-box;
    
    position: absolute;
    width: 912px;
    height: 53px;
    left: 265px;
    top: 631px;
}



/* Username */

.username{
    position: absolute;
    width: 73px;
    height: 22px;
    left: 265px;
    top: 605px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #000000;
}



/* rect-name */

.rect_name{
    box-sizing: border-box;
    border: 0.5px 0.5px 4px 0.5px;
    position: absolute;
    width: 913px;
    height: 53px;
    left: 264px;
    top: 337px;
}



/* Name */

.name{
    position: absolute;
    width: 42px;
    height: 22px;
    left: 264px;
    top: 311px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #000000;
}



/* rect-lastname */

.rect_lastname{
    box-sizing: border-box;
    
    position: absolute;
    width: 915px;
    height: 53px;
    left: 262px;
    top: 435px;
}



/* Last Name */

.lastname{
    position: absolute;
    width: 76px;
    height: 22px;
    left: 262px;
    top: 409px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #000000;
}



/* rect-email */

.rect_email{
    box-sizing: border-box;
    
    position: absolute;
    width: 912px;
    height: 53px;
    left: 265px;
    top: 533px;
}



/* Email */

.email{
    position: absolute;
    width: 40px;
    height: 22px;
    left: 265px;
    top: 507px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #000000;
}



/* rect-password */

.rect_password{
    box-sizing: border-box;
    position: absolute;
    width: 915px;
    height: 53px;
    left: 262px;
    top: 729px;
    border: 0.5px 0.5px 4px 0.5px solid #000000;

}



/* Password */

.password{
    position: absolute;
    width: 70px;
    height: 22px;
    left: 262px;
    top: 703px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 139%;
    /* or 22px */
    
    letter-spacing: -0.011em;
    
    color: #000000;
}

/* button */

.button{

        background: #6850BF;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
}

.button{
        background: #7155d9;
        box-shadow: 2px 2px 4px #00000040;
        border-radius: 15px;
        width: 148px;
        height: 59px;
        border: none;
        color: white;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


/* footer */

.footer{
    position: absolute;
    width: 347px;
    height: 25px;
    left: 542px;
    top: 907px;
}