.landingContainer {
  margin-left: 100px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  margin: 50px 0;
}

@media (max-width: 800px) {
  .landingContainer {
    flex-direction: column;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .landingContainer {
    padding: 1em;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 490px;
  margin-left: 40px;
}

@media (max-width: 800px) {
  .textContainer {
    width: 100%;
    margin-left: 0;
  }
}

.title {
  font-size: 46px;
  word-spacing: 10px;
  text-align: left;
  font-weight: 800;
  font-family: "Merriweather";
}

@media (max-width: 800px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }
}

.parrafo {
  width: 490px;
  overflow-wrap: break-word;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 139%;
  text-align: justify;
  letter-spacing: -0.011em;
}

@media (max-width: 800px) {
  .parrafo {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .parrafo {
    font-size: 18px;
  }
}

.imageContainer {
  width: 800px;
}

@media (max-width: 600px) {
  .imageContainer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .imageContainer {
    display: none;
  }
}

.imagen {
  width: 95%;
  margin-left: 20px;
  height: 95%;
}

@media (max-width: 800px) {
  .imagen {
    width: 100%;
    margin-left: 0;
  }
}

.botonera {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 600px) {
  .botonera {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .botonera {
    flex-direction: column;
    align-items: stretch;
  }
}

.botonUsers,
.botonCompany {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-style: none;
  font-family: "Roboto Regular";
  width: 210px;
  height: 59px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.botonUsers {
  background: #7155d9;
  width: 210px;
  height: 59px;
}

.botonUsers:hover {
  background: #b7a7f3;
  transition: 0.2s;
}

.botonCompany {
  background: #b682d9;
  width: 235px;
  height: 59px;
  cursor: pointer;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.botonCompany:hover {
  background: #d9b7f3;
  transition: 0.2s;
}

@media (max-width: 800px) {
  .botonUsers,
  .botonCompany {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .botonUsers,
  .botonCompany {
    height: 45px;
    font-size: 18px;
  }
}
