.landingContainer {
  margin-left: 100px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.textContainer {
  flex: 1;
  padding: 1em;
  max-width: 40%;
}

.parrafo {
}

.imageContainer {
  width: 40%;
  margin-right: 20px;
}

.imagen {
  width: 80%;
  height: 80%;
}

.botonUsers {
}

.botonCompany {
}
