.landingContainer {
  margin-left: 100px;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 448px;
}

.title{
  font-size: 35px;
}

.parrafo {
  width: 448px;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  /* or 28px */

  text-align: justify;
  letter-spacing: -0.011em; /* Esto asegurará que las palabras largas no desborden el contenedor */
}

.imageContainer {
  width: 40%;
  margin-right: 20px;
}

.imagen {
  width: 95%;
  height: 95%;
}

.botonera {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.botonUsers {
  background: #7155d9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-style: none;
  width: 192px;
  height: 59px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

.botonCompany {
  background: #b682d9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-style: none;
  width: 210px;
  height: 59px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
