body.active-modal {
    overflow-y: hidden;
}

.btn_modal {
    width: 96%;
    height: 59px;
    left: 265px;
    top: 825px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #b682d9;
    box-shadow: 2px 2px 4px #00000040;
    border-radius: 15px;
    border: none;
    color: white;
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    transition: transform 0.5 ease;
}

.btn_modal:hover {
    background: none;
    border: solid;
    border-color: #b682d9;
    color: #b682d9;
    transform: translateY(-3px);
    cursor: pointer;
}

.btn_modal:disabled,
.btn_modal[disabled],
.btn_modal:disabled:hover {
    background-color: #cccccc;
    border-color: #666666;
    color: #666666;
    cursor: no-drop;
    transition: none;
    transform: none;
}

.modal,
.overlay {
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal_content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 20px 35px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 500px;
    z-index: 2000;
}

.modal_content h2{
    font-family: "Merriweather";
    font-size: 25px;
}

/* PAGE CONTAINER */
.page_container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORM */

.form_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form {
    width: 1200px;
}

/* title */

.titles_container {
    margin-left: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 39px;
    letter-spacing: -0.011em;
    color: #000000;
}

/* required */
.required {
    color: red;
}

/* subtitle */

.subtitle {
    font-family: 'Merriweather';
    margin-top: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.011em;
    color: #000000;
}

/* BUTTON TO FORM */

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_toForm {
    width: 100%;
    height: 59px;
    padding: 0 200px;
    background: #b682d9;
    box-shadow: 2px 2px 4px #00000040;
    border-radius: 15px;
    border: none;
    color: white;
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    justify-content: center;
}

.btn_toForm:hover {
    background: none;
    border: solid;
    border-color: #b682d9;
    color: #b682d9;
    cursor: pointer;
}

/* CONTAINERS */

.name_Vacancy_container,
.logo_Company_container,
.programming_languages_container,
.seniority_container,
.description_container,
.workday_container,
.salary_container,
.date_Hire_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* labels */

.name_Vacancy,
.logo_Company,
.programming_Languages,
.seniority,
.workday,
.salary,
.date_Hire,
.description {
    width: 400px;
    height: 22px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -0.011em;
    color: #000000;
    margin-bottom: 3px;
}

/* FILA 1 y 3 */
.row1_container,
.row2_container,
.row3_container{
    display: flex;
}

.name_Vacancy_container,
.logo_Company_container,
.programming_Languages_container,
.seniority_container,
.workday_container,
.salary_container,
.date_Hire_container{
    flex: 1;
}

.input_name_Vacancy,
.input_logo_Company,
.input_programming_Languages,
.input_seniority,
.input_workday,
.input_salary,
.input_date_Hire {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px 0.5px 4px 0.5px;
    font-size: 18px;
}

/* FILA 2 */
.textarea_description {
    width: 95%;
    height: 50px;
    padding-left: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px 0.5px 4px 0.5px;
    font-size: 19px;
    font-family: 'Roboto Regular';
    font-style: normal;
}

.textarea_description {
    height: 100px;
    padding-top: 10px;
}

.error_span {
    color: rgb(201, 16, 16);
    margin-top: 10px;
    font-size: 17px;
}

.confirmation_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.confirmation_p{
    font-size: 19px;
    font-weight: 600;
    color: green
}

.confirmation_span{
    margin-top: -10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.close_button {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    font-size: 24px;
}