@font-face {
  font-family: 'Merriweather';
  src: url('./public/assets/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./public/assets/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('./public/assets/Roboto-Thin.ttf') format('truetype');
}


body {
  background-color: #efefef;

}

h1, h2, h3 {
  font-family: "Merriweather Bold";
}

p, span {
  font-family: "Roboto Regular";
}

button {
  font-family: "Roboto Regular";
}
