/* .button {
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  line-height: 28px;
} */
.mercadoPagoButton hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
  transform: translateY(-3px);
  cursor: pointer;
}

.mercadoPagoButton {
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  line-height: 28px;
}

.mercadoPagoButtonDisabled {
  background: #7255d96c;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  line-height: 13.4px;
}

.FreePlanButton{
  background: #7255d96c;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  line-height: 28px;
}

body.active-modal {
  overflow-y: hidden;
}

.btn_modal {
  width: 96%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.btn_modal:hover, .btn_modal1:hover, .btn_modal2:hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
  transform: translateY(-3px);
  cursor: pointer;
}

/* BOTON MODAL1 */
.btn_modal1 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}


/* BOTON MODAL2 */
.btn_modal2 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}


.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 20px 35px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 2000;
}

.remainingDays{
  font-size: 12px;
}