.ContainerDetail {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  border: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 9px;
  width: 520px;
  height: 600px;
  border-color: #6850bf;
  overflow-y: scroll;
  overflow-x: hidden;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 520px;
}

.contenedorButton {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.button {
  background-color: #6850bf;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.image {
  width: 35%;
  margin-top: 20px;
  margin-left: 20px;
}

.CompanyNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  color: #000000;
  text-align: left;
  max-height: 50px;
  margin-top: 4rem;
}

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}

.buttonConnect {
  background-color: #b682d9;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 40%;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  padding: 1rem;
  cursor: pointer;
}
.buttonDownload {
  background-color: #b682d9;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 85%;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.subtitleContainer {
  display: flex;
  margin: 40px 0 15px 0;
  gap: 20px;
}

.spanSubtitle {
  border: 3px solid #b682d9;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contenedorDescription {
  width: 520px;
  text-align: justify;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contenedorSalary {
  margin: 30px 0;
}

.salaryTitle {
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -0.011em;
  color: #6850bf;
  margin-right: 15px;
}

.techTitle {
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -0.011em;
  color: #6850bf;
  margin-right: 15px;
}

.buttonLike {
  background-color: #6850bf;
  border-style: none;
  width: 40%;
  height: 59px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.subtitle {
  margin-top: -1rem;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  text-align: left;
}
.subtitleProgramming {
  margin-top: -1rem;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
}

.UserNameCompanyContainer {
  display: flex;
  flex-direction: column;
  padding: 2em;
  font-family: "Merriweather";
}

.username_name {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  color: #000000;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

/* .aboutme {
    padding: 1em;
  } */

.listados {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 90px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.specializationContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}


/* MODAL */


.modal_content h2 {
  font-family: "Merriweather";
  font-size: 23px;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}



.modal_content p {
  font-family: "Roboto Regular";
}

body.active-modal {
  overflow-y: hidden;
}

.btn_modal {
  width: 96%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.btn_modal:hover,
.btn_modal1:hover,
.btn_modal2:hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
  transform: translateY(-3px);
  cursor: pointer;
}

/* BOTON MODAL1 */
.btn_modal1 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}


/* BOTON MODAL2 */
.btn_modal2 {
  width: 45%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}


.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 20px 35px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 2000;
}

@media screen and (max-width: 600px) {
  .ContainerDetail {
    height: auto;
    width: 80%;
    margin-right: 50px;
  }

  .CompanyNameContainer{
    margin-left: 20px;
    margin-right: 20px;
  }

  .subtitleContainer{
    width: 80%;
    margin-left: 20px;
  }

  .contenedorSalary{
    margin: 20 0;
  }

  .contenedorDescription span{
    text-align: justify;
    padding-right: 70px;
  }

  .aboutme {
    width: 85%;
  }

  .listados {
    width: 95%;
    gap: 20px
  }

  .buttonContainer {
    width: 98%;
  }

  .button{
    justify-content: left;
    align-items: left;
    width: 95%;
    padding: 15px 15px;
    margin-bottom: 30px;
  }

  .ul_programming,
  .ul_softskills {
    width: auto;
  }

  .ul_programming li,
  .ul_softskills li {
    font-size: 14px;
    max-width: 120px;
    word-wrap: break-word;
  }
}