.Container {
  border: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 9px;
  border-color: black;
  width: 525px;
  height: 109px;
  display: flex;
  justify-content: space-around;
}

.Container:hover {
  border-color: #6850BF;

}
.ContainerB {
  border: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 9px;
  border-color: black;
  width: 525px;
  height: 109px;
  display: flex;
  justify-content: space-around;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-left: 10px;
}

.CompanyTitle {
  margin-top: 0px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin-top: -1rem;
}

.span {
  width: 300px;
  height: 38px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin-top: 10px;
}

.company_logo {
  width: 150px;
  height: 38px;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin: 10px 0px 20px 0px;
}

.CompanyNameContainer {
  display: flex;
  gap: 6px;
  width: 280px;
  margin-top: 2px;
}

.image {
  width: 13px;
  height: 13px;
}

.button {
  align-self: auto;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 148px;
  height: 59px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background: none;
  border: solid;
  border-color: #b682d9;
  color: #b682d9;
}

.button_finish {
  color: white;
  font-weight: 400;
  font-size: 18px;
  background-color: #b682d9;
  cursor: pointer;
}

.contenedorButton {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
}

.contenedorSpan {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: flex-end;
}

.spanSeniority {
  margin-top: -15px;
}

.contenedorMyApplications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.myapps {
  color: #b682d9;
}


@media (max-width: 600px) {
  .CompanyTitle {
    font-size: 1.2em;
    /* Ajusta el tamaño de fuente al que te parezca adecuado */
  }

  .span {
    font-size: 15px; /* Ajusta el tamaño de fuente al que te parezca adecuado */
  }

  .button {
    width: 100%; /* Esto hará que el botón sea un 80% del ancho del contenedor */
    margin: 10px auto;
    padding-left: 2em;
    padding-right: 2em; /* Esto centrará el botón y le dará un margen superior e inferior de 10px */
  }

  .button_finish {
    width: 80%; /* Esto hará que el botón sea un 80% del ancho del contenedor */
    margin: 10px auto; /* Esto centrará el botón y le dará un margen superior e inferior de 10px */
  }
}
