/* PAGE CONTAINER */
.page_container {
    margin-left: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 2200px;
}

/* title */

.titles_container {
    margin-left: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 39px;
    letter-spacing: -0.011em;
    color: #000000;
}

/* required */
.required{
    color: red;
}

/* subtitle */

.subtitle {
    font-family: 'Merriweather';
    margin-top: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.011em;
    color: #000000;
}

.password_toggle_container{
    position: relative;
}

.password_icon{
    position: absolute;
    top: 32%;
    right: 12%;
    cursor: pointer;
}


/* divider */

.divider {
    width: 96%;
    margin-bottom: 2rem;
}

.divider hr {
    border: 2px solid black;
}

/* FORM */

.form_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form {
    width: 1200px;
}

.name_container,
.lastname_container,
.email_container,
.username_container,
.password_container,
.dateOfBirth_container,
.cv_container,
.country_container,
.progLanguages_container,
.degree_container,
.softSkills_container,
.languages_container,
.seniority_container,
.specialization_container,
.working_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


/* labels */

.name,
.lastname,
.email,
.username,
.password,
.dateOfBirth,
.cv,
.country,
.progLanguages,
.degree,
.softSkills,
.languages,
.seniority,
.specialization,
.working {
    width: 250px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -0.011em;
    color: #000000;
    margin-bottom: 3px;
}

/* FILA 1 y 3 */
.row1_container,
.row2_container,
.row3_container,
.row4_container,
.row5_container,
.row6_container,
.row7_container {
    display: flex;
}

.name_container,
.lastname_container,
.username_container,
.password_container,
.dateOfBirth_container,
.cv_container,
.country_container,
.progLanguages_container,
.degree_container,
.softSkills_container,
.languages_container,
.seniority_container,
.specialization_container,
.working_container {
    flex: 1;
}

.input_name,
.input_lastname,
.input_username,
.input_password,
.input_dateOfBirth,
.input_cv,
.input_country,
.input_progLanguages,
.input_degree,
.input_softSkills,
.input_languages,
.input_seniority,
.input_specialization,
.input_working {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px 0.5px 4px 0.5px;
    font-size: 18px;
}

/* FILA 2 */
.input_email,
.textarea_aboutMe {
    width: 95%;
    height: 50px;
    padding-left: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 0.5px 0.5px 4px 0.5px;
    font-size: 19px;
    font-family: 'Roboto';
    font-style: normal;
}

.textarea_aboutMe{
    height: 100px;
    padding-top: 10px ;
}

.error_span{
    color: rgb(201, 16, 16);
    margin-top: 10px;
}

/* button */

.button {
    width: 96%;
    height: 59px;
    left: 265px;
    top: 825px;
    margin-top: 20px;
    margin-bottom: 80px;
    background: #7155d9;
    box-shadow: 2px 2px 4px #00000040;
    border-radius: 15px;
    border: none;
    color: white;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    transition: transform 0.5 ease;
}

.button:hover {
    background: none;
    border: solid;
    border-color: #7155d9;
    color: #7155d9;
    transform: translateY(-3px);
    cursor: pointer;
}

/* footer */

.footer {
    display: flex;
    margin-left: 320px;
    gap: 20px
}

.footer_title {
    width: 220px;
    height: 25px;
    left: calc(50% - 220px/2 - 68px);
    top: 307px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    letter-spacing: -0.011em;
    color: #000000;
}

.footer_login {
    width: 107px;
    height: 25px;
    left: calc(50% - 107px/2 + 115.5px);
    top: 307px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 139%;
    letter-spacing: -0.011em;
    color: #7155D9;
}