.LogInContainer {
  margin-left: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 120px;
}

.InputsLogIn {
  display: flex;
  flex-direction: column;
}

.email {
  width: 100%;
}

.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin: 0;
}

.TitleLogIn {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin: 15px 0;
}

.password_toggle_container {
  position: relative;
}

.password_icon {
  position: absolute;
  top: 32%;
  right: 5%;
  cursor: pointer;
}

.labelInput {
  font-family: "Roboto Regular";
  font-style: black;
  font-size: 18px;
}
.input {
  width: 500px;
  height: 53px;
  left: 122px;
  top: 212px;
  font-size: 16px;
  padding-left: 15px;
  background-color: #efefef;
  border-style: solid;
  border-width: 0.5px 0.5px 4px 0.5px;
  border-color: black;
  box-sizing: border-box;
}

.inPutsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.ButtonSignIn {
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 500px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.ButtonB {
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 500px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  justify-content: center;
  cursor: pointer;
}

.ButtonD {
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 500px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  justify-content: center;
  line-height: 28px;
  cursor: pointer;
  opacity: 0.5;
}

.line {
  flex-grow: 1;
  border-top: 6px solid #262626;
  margin-top: 5px;
}

.Separator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Separator span {
  margin: 0 10px;
}

.or {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 139%;
  letter-spacing: -0.011em;
}

.ButtonAuthenticationOptions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonAuth {
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 126px;
  height: 53px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.imagenContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vector {
  width: 700px;
  color: transparent;
  height: 670px;
}

.error {
  color: red;
  font-style: italic;
}

/* LOADER */
.loaderContainer {
  margin-top: 7em;
  margin-bottom: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 600px) {
  .LogInContainer {
    margin-left: 1em;
    margin-right: 1em;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .InputsLogIn,
  .email,
  .inPutsContainer {
    width: 100%;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 16px;
  }

  .input,
  .ButtonSignIn,
  .ButtonB,
  .ButtonD {
    width: 100%;
  }

  .imagenContenedor {
    display: none;
  }
}
