.Container {
  border: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 9px;
  border-color: black;
  width: 525px;
  height: 109px;
  display: flex;
  justify-content: space-around;
}

.Container:hover {
  border-color: #7155d9;
}
.InfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.CompanyTitle {
  margin-top: 0px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
  margin-top: -1rem;
}

.span {
  width: 292px;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 139%;
  letter-spacing: -0.011em;
  color: #000000;
}
.CompanyNameContainer {
  display: flex;
  gap: 6px;
  width: 75px;
  margin-top: 2px;
}

.image {
  width: 13px;
  height: 13px;
}

.button {
  align-self: auto;
  background: #7155d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  width: 148px;
  height: 59px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background: none;
  border: solid;
  border-color: #7155d9;
  color: #7155d9;
}

.contenedorButton {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: center;
}

.contenedorSpan {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  justify-content: flex-end;
}
