.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 20px 35px;
  border-radius: 3px;
  width: 1300px;
  display: flex;
  flex-direction: column;
  height: 800px;
  z-index: 2000;
}

.toggleClose{
  position: absolute;
  bottom: 40px;
  width: 90%;
  margin-top: 30px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  height: 59px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  justify-self: center;
  align-self: center;
}


.toggleClose:hover {
  background: none;
  border: solid;
  border-color: #b682d9;
  color: #b682d9;
}

.p {
  font-size: 1em;
  margin: 0px 0px 100px 0px;
}

/* LOADER */

.loaderContainer {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.buttonChange {
  width: 100%;
  height: 59px;
  left: 265px;
  top: 825px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #b682d9;
  box-shadow: 2px 2px 4px #00000040;
  border-radius: 15px;
  padding: 0 120px;
  border: none;
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  transition: transform 0.5 ease;
}

.buttonChange:hover {
  background: none;
  border: solid;
  border-color: #b682d9;
  color: #b682d9;
  transform: translateY(-3px);
  cursor: pointer;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.noVacanciesText {
  font-family: "Roboto Regular";
  font-size: 18px;
  color: black;
}

.noVacanciesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}